#logout_btn {
	position:absolute;
	top:0px;
	right:0px;
}
input[type="text"]{
	display:none;
}
#home {
    background-color: #ea80fc;
}
#username {
	font-family: Verdana;
	text-align: center;
	font-size: 45px;
}
#logout{
	color: blue;
	font-family: Verdana;
	font-size: 30px;
	float:centre;
	margin-left: 45%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: green;
}
::-moz-placeholder { /* Firefox 19+ */
  color: green;
}
:-ms-input-placeholder { /* IE 10+ */
  color: green;
}
:-moz-placeholder { /* Firefox 18- */
  color: green;
}
body {
	background-color: #64ffda;
}
#work{
    border: 0px black solid ;
    color:brown;
    font-size: 25px;
    text-align: center;
    background-color: #ffcdd2;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Verdana;
        }
        
#getask{
	font-size: 25px;
	text-align: center;
	background-color: #ffcdd2;
	font-family: Verdana;
          
        }
#sub-form{
    text-align:center;
    font-size:25px;
}
label{
	font-size: 20px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Verdana;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}
#show {
    
    margin-left: 43.5%;
  	margin-right: 40%;
  	text-align: center;
}

#show:hover {
    background-color: #4CAF50;
    color: white;
}

h2{
  	text-align: center;
  	font-family: Verdana;
}
th {
  	text-align: center;
}
#view{
	border: 0px black solid ;
	color:brown;
	font-size: 25px;
	text-align: center;
	background-color:#e0e0e0;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Verdana;
    }

#view_edit{
	border: 0px black solid ;
	color:brown;
	font-size: 25px;
	text-align: center;
	background-color:#e0e0e0;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Verdana;
    }
.completedtask{
	margin-left: 43.5%;
	margin-right: 40%;
	text-align: center;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	font-family: Verdana;
}
.completedtask  {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.completedtask:hover {
    background-color: #4CAF50;
    color: white;
}
.alltask{
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Verdana;
}
.alltask  {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.alltask:hover {
    background-color: #4CAF50;
    color: white;
}
 #alot{
	font-size: 25px;
	color:brown;
	text-align: center;
	border: 0px black solid;
	background-color: #ffcdd2;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Verdana;
          
        }
#textarea1{
	border:2px solid black;
}